@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: var(--secondary-950);

    --card: 0 0% 100%;
    --card-foreground: var(--secondary-950);

    --popover: 0 0% 100%;
    --popover-foreground: var(--secondary-950);

    --primary: var(--primary-600);
    --primary-foreground: 180 100% 11%;
    --primary-text: 177 100% 22%; /* Primary text color with good contrast when standing alone, directly over background color */

    --secondary: var(--secondary-100);
    --secondary-foreground: var(--secondary-900);

    --muted: var(--secondary-100);
    --muted-foreground: var(--secondary-500);

    --accent: var(--secondary-100);
    --accent-foreground: var(--secondary-900);

    --destructive: var(--destructive-500);
    --destructive-foreground: var(--destructive-50);

    --border: var(--secondary-200);

    --input: var(--secondary-200);

    --ring: var(--primary-600);

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --selection: var(--primary-200);
    --selection-foreground: var(--primary-950);

    input:is(:-webkit-autofill, :autofill),
    input:is(:-webkit-autofill, :autofill):hover,
    input:is(:-webkit-autofill, :autofill):focus,
    input:is(:-webkit-autofill, :autofill):active {
      -webkit-background-clip: text;
      -webkit-text-fill-color: hsl(var(--foreground));
      color: hsl(var(--foreground));
      caret-color: hsl(var(--foreground));
      box-shadow: inset 0 0 20px 20px hsl(var(--background) / 50%);
    }

    input:is(:-webkit-autofill, :autofill) {
      border-color: hsl(var(--border));
    }

    input:is(:-webkit-autofill, :autofill):focus {
      border-color: hsl(var(--primary));
    }
  }

  .dark {
    --background: var(--secondary-950);
    --foreground: var(--secondary-50);

    --card: var(--secondary-900);
    --card-foreground: var(--secondary-50);

    --popover: var(--secondary-900);
    --popover-foreground: var(--secondary-50);

    --primary: var(--primary-500);
    --primary-foreground: 180 100% 11%;
    --primary-text: 174 100% 50%; /* Primary text color with good contrast when standing alone, directly over background color */

    --secondary: var(--secondary-800);
    --secondary-foreground: var(--secondary-50);

    --muted: var(--secondary-800);
    --muted-foreground: var(--secondary-400);

    --accent: var(--secondary-800);
    --accent-foreground: var(--secondary-50);

    --destructive: var(--destructive-900);
    --destructive-foreground: var(--destructive-50);

    --border: var(--secondary-800);
    
    --input: var(--secondary-800);
    
    --ring: var(--primary-500);
    
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }


  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground leading-loose;
    @apply font-primary;
  }
  button {
    @apply active:outline-none;
  }
  .h1 {
    @apply text-[48px] xl:text-[58px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[46px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[24px] xl:text-[34px] leading-[1.1] font-semibold;
  }
  ::selection {
    @apply bg-selection/80 text-selection-foreground;
  }
  
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }
}

